@import "tailwindcss";

@layer components {
  .input {
    @apply bg-zinc-800 border border-zinc-600 rounded-md px-3 py-2 w-full text-white placeholder-zinc-400 focus:outline-none focus:ring-2 focus:ring-zinc-500;
  }
}
